/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    margin: 0px;
    padding: 0px;
}
img {
    width: 100%;
    object-fit: cover;
}
.card-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.card-style-3 {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    border: 15px solid gold;
    border-radius: 15px;
    img {
        border: 4px solid gold;
    }
}
.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
        margin: 0px;
        font-size: 28px;
    }
    .health {
        font-size: 18px;
    }
}
.details {
    display: inline-block;
    max-width: 100%;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    background: linear-gradient(
        90deg,
        gold,
        rgb(236, 225, 164),
        gold
    );
}
.attack {
    flex: 1;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    font-size: 15px;
    border-bottom: 2px solid black;
    align-items: center;
    .bold {
        font-weight: bold;
        font-size: 18px;
    }
    .power {
        font-weight: bold;
        font-size: 25px;
    }
}
.data {
    font-size: 11px;
    margin-top: 10px;
    font-weight: bold;
    border: 2px solid gold;
    padding: 5px;
}
#pokemon-card-1 {
    background: linear-gradient(
        50deg,
        rgb(92, 175, 92),
        rgb(158, 197, 158),
        rgb(41, 98, 41)
    );
    
}
#pokemon-card-2 {
    background: linear-gradient(
        50deg,
        rgb(92, 175, 92),
        rgb(158, 197, 158),
        rgb(41, 98, 41)
    );
}
#pokemon-card-3 {
    background: linear-gradient(
        50deg,
        rgb(231, 100, 6),
        rgb(224, 194, 147),
        rgb(217, 60, 3)
    );
}
#pokemon-card-4 {
    background: linear-gradient(
        50deg,
        rgb(73, 114, 203),
        rgb(156, 197, 236),
        rgb(16, 106, 202)
    );
}
