* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    text-align: center;
}
#triple-colombe {
    width: 500px;
    object-fit: cover;
}
#can {
    width: 600px;
    transform: rotate(5deg);
    object-fit: cover;
    transition: transform 2s;
}
#can:hover {
    transform: rotate(-5deg);
}
.container-1 {
    background-color: beige;
    padding: 48px 0px;
    color: navy;
}
.container-2 {
    background-color: rgb(150, 52, 52);
    padding: 48px 0px;
    color: white;
}
.container-3 {
    background-color: rgb(245, 226, 200);
    padding: 48px 0px;
    color: navy;
}
.container-4 {
    background-color: rgb(86, 69, 56);
    padding: 48px 0px;
    color: white;
}
.tagline {
    font-family: 
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        padding: 10px;
}
h1 {
    font-family: 
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
}
h3 {
    font-family: 
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
