@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pragati+Narrow:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
}
body {
    font-family: sans-serif;
    font-size: 1.125rem;
    background-color: #010101;
    color: #010101;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
/* resets ends */

#hero-container {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    background-size: cover;
    height: 60dvh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    h1 {
        position: absolute;
        font-family: "Arsenal SC", sans-serif;
        font-size: 75px;
        top: 50%;
        color: white;
        text-shadow: 4px 4px 15px black;
    }
    #button {
        font-family: "DM Sans", sans-serif;
        position: absolute;
        color: white;
        font-size: 19px;
        top: 87%;
        background-color: #010101;
        padding: 20px;
    }
    #button:hover {
        background-color: #1c1b1b;
    }
}
.nav-container {
    position: fixed;
    width: 90dvw;
    max-width: 1000px;
    margin: 0px auto;
}
#pseudo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px 20px;
    background-color: #01010190;
    backdrop-filter: blur(10px);
    a {
        color: white;
        font-family: "DM Sans", sans-serif;
        font-size: 22px;
    }
}
#links-nav {
    display: flex;
    gap: 24px;
}
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1200px;
    width: 80%;
    margin: 24px auto;
    img {
        height: 300px;
        flex: 1;
    }
}
#card-container {
    min-width: 600px;
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    margin: 15px;
    background-color: #fefefe;
    padding: 24px;
    text-align: center;
    color: #010101;
    font-family: "DM Sans", sans-serif;
    h2 {
        font-size: 35px;
        margin: 20px;
    }
    a {
        background-color: #010101;
        padding: 8px;
        color: #fefefe;
        &:hover {
            background-color: #302e2e;
        }
    }
}