@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Pragati+Narrow:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
}
body {
    font-family: sans-serif;
    font-size: 1.125rem;
    background-color: #010101;
    color: #010101;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
/* resets ends */

#hero-container {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    background-size: cover;
    height: 60dvh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    h1 {
        position: absolute;
        font-family: "Arsenal SC", sans-serif;
        font-size: 55px;
        top: 50%;
        color: white;
        text-shadow: 4px 4px 15px black;
    }
    #button {
        font-family: "Pragati Narrow", sans-serif;
        position: absolute;
        color: white;
        top: 87%;
        background-color: #010101;
        padding: 10px;
    }
    #button:hover {
        background-color: #1c1b1b;
    }
}
.nav-container {
    width: 1000px;
    margin: 0px auto;
}
#pseudo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #010101;
    margin: 10px;
    padding: 15px;
    a {
        color: white;
        font-family: "Pragati Narrow", sans-serif;
        font-size: 22px;
    }
}
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px;
    img {
        height: 300px;
        flex: 1;
    }
}
#card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    margin: 24px;
    background-color: #fefefe;
    padding: 50px;
    text-align: center;
    color: #010101;
    font-family: "Pragati Narrow";
    h2 {
        font-size: 35px;
    }
}