* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

#title {
    text-align: center;
}

.cards-container {
    margin: 0px auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    width: 200px;
}