@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Mukta", sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
/* resets end */
#navbar {
    top: 0px;
    position: sticky;
    z-index: 2;
    background-color: #051F3E;
    padding: 15px;
    font-weight: bold;
}
#navbar #logo {
    width: 125px;
}
#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80dvw;
    margin: 0px auto;
}
#navbar-links {
    display: flex;
    gap: 20px;
    a {
        color: white;
        transition: color 0.5s;
    }
}
#navbar a:hover {
    color: #C12026;
}
#order-btn {
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    a {
        color: #C12026;
    }
}
#order-btn:hover {
    background-color: #e2e2e2;
}
#promo {
    display: flex;
    justify-content: center;
    background-color: #C12026;
    color: white;
    font-weight: bold;
    padding: 8px;
    p {
        margin: 0px;
    }
}
#header-container {
    background-image: url(../images/hero-1.jpg);
    height: 50dvh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#header-container h1 {
    position: absolute;
    margin: 0px;
    top: 30%;
    left: 10%;
    color: white;
    text-shadow: 2px 2px 8px black;
}
#header-container h4 {
    position: absolute;
    margin: 0px;
    top: 47%;
    left: 10%;
    color: white;
    text-shadow: 2px 2px 8px black;
}
#menu-btn {
    position: absolute;
    background-color: #60BB46;
    box-shadow: 2px 2px 15px black;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    top: 60%;
    left: 10%;
}
#menu-btn:hover {
    background-color: #429f29;
    transform: translateY(-4px);
    transition: background-color 0.5s, transform 0.5s;
}
#card-layout {
    min-width: 600px;
    margin: 0px auto;
    h2 {
        font-family: "Mukta", sans-serif;
        text-align: center;
    }
}
#new-menu {
    min-width: 600px;
    width: 90%;
    margin: 0px auto;
    padding: 24px;
}
#cards-container {
    display: grid;
    grid-template-columns: max-content max-content max-content ;
    grid-template-areas: 
        "c1 c2 c3"
        ". c4 .";
    margin: 24px;
    justify-content: center;
}
#card-1 {
    grid-area: c1;
}
#card-2 {
    grid-area: c2;
}
#card-3 {
    grid-area: c3;
}
#card-4 {
    grid-area: c4;
}
.cards {
    max-width: 300px;
    padding: 20px 15px;
    background-color: #C12026;
    text-align: center;
    color: white;
    margin: 24px;
}
.cards img {
    width: 250px;
    height: 250px;
}
.cards:hover {
    box-shadow: 2px 2px 10px #a9a9a9;
    transform: translateY(-4px);
    transition: box-shadow 0.5s, transform 0.5s;
}
#third-section {
    font-family: "Mukta", sans-serif;
}
#header2-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img-area";
    height: 50vh;
    position: relative;
    background-color: #FEE890;
    margin-top: 24px;
}
#header2-container #img-container {
    grid-area: img-area;
    background-image: url(../images/catering.jpg);
    background-size: cover;
}
#header2-container #content-container {
    width: 90%;
    max-width: 1290px;
    top: 30%;
    left: 60%;
    transform: translateY(-50%), translateX(-50%);
}
#header2-container #content-container div {
    padding-left: 50px;
}
#content-container h2 {
    font-size: 35px;
    font-weight: bold;
}
#learn-more {
    background-color: #C12026;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80dvw;
    margin: 0px auto;
    color: white;
    font-family: "Mukta", sans-serif;
    p {
        font-weight: bold;
    }
}
#footer-links {
    display: flex;
    gap: 15px;
    font-family: "Mukta", sans-serif;
}
#footer-links a {
    color: white;
}
.footer {
    background-color: #051F3E;
}
#menu {
    min-width: 600px;
    width: 90%;
    margin: 0px auto;
}
.title {
    text-align: center;
    color: #C12026;
}
#featured-dish {
    display: flex;
    justify-content: center;
}
.featured-card {
    display: flex;
    gap: 20px;
    background-color: #60BB46;
    margin: 24px;
    flex: 1;
}
.featured-content {
    padding: 25px;
}
.featured-card img {
    max-width: 300px;
    min-width: 200px;

    height: 100%;
}
#appetizers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 24px;
}
#menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 24px;
}
.menu-cards {
    margin: 24px;
    padding: 24px;
    border: 2px solid black;
}
.menu-cards:hover {
    box-shadow: 2px 2px 10px #a9a9a9;
}
#sides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 24px;
}
#desserts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 24px;
    margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
    #navbar-container {
        flex-direction: column;
    }
    #navbar-links {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    #new-menu {
        padding: 0px;
    }
    #cards-container {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "c1 c2"
            "c3 c4";
    }
    #footer-container {
        flex-direction: column;
    }
    #footer-links {
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
    }
    #featured-dish {
        flex-wrap: wrap;
    }
    #appetizers {
        grid-template-columns: 1fr 1fr;
    }
    #menu-container {
        grid-template-columns: 1fr 1fr;
    }
    #desserts {
        grid-template-columns: 1fr 1fr;
    }
}