* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
#hero-container {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#title {
    text-align: center;
    font-size: 26px;
    color: white;
    background-color: rgb(90, 152, 90);
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 15px;
    margin: 10px;
    border: 5px dashed rgb(120, 155, 120);
}
#gallery-container img {
    height: 250px;
    flex: 1;
}