@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Chivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
#navbar {
    background-color: rgb(85, 175, 142);
    margin-bottom: 0px;
}
#nav-container {
    width: 100vw;
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-container a {
    display: inline-block;
    padding: 20px 0px;
}
#nav-container #logo {
    padding: 0px;
    font-size: 24px;
    font-family: "Berkshire Swash", sans-serif;
}
#menu-links {
    font-family: "Lora", serif;
    font-weight: 500;
    display: flex;
    gap: 24px;
}
#signup-links {
    font-family: "Lora", serif;
    font-weight: 500;
    display: flex;
    gap: 24px;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#nav-container .dropdown-menu a {
    display: inline-block;
    padding: 10px;
    background-color: #55af8e;
    width: 100%;
    min-width: 200px;
}
#navbar .dropdown-menu a:hover {
    background: #439476;
}
#hero {
    margin-top: 0px;
    background-image: url("../images/hero1.jpg");
    background-size: cover;
    background-position: center center;
    height: 50dvh;
    position: relative;
}
#hero h3 {
    position: absolute;
    left: 10%;
    bottom: 50%;
    font-family: "Chivo", serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#hero p {
    font-family: "Lora", sans-serif;
    font-size: 20px;
    position: absolute;
    left: 10%;
    bottom: 40%;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#hero #herobtn {
    position: absolute;
    left: 10%;
    bottom: 30%;
    background-color: #55af8e99;
    backdrop-filter: blur(1px);
    padding: 15px;
    color: white;
    border-radius: 25px;
    font-family: "Chivo";
    &:hover {
        background-color: #073B3A;
        text-decoration: underline;
        transition: background-color 0.5s;
    }
}
#promo-banner {
    background-color: #DDB771;
}
#promo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: underline;
        &:hover {
            color: white;
            transition: color 0.5s;
        }
    }
}
#pet-cards {
    margin: 0px auto;
    width: 90%;
    max-width: 1500px;
    h3 {
        text-align: center;
        font-family: Chivo;
        font-size: 30px;
    }
}
#petcards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px auto;
    gap: 24px;
}
.card-1 {
    border-radius: 10px;
    background-color: #CE7DA5;
    padding: 24px;
    h4 {
        font-size: 25px;
        font-family: "Lora", sans-serif;
        margin: 10px 0px;
    }
    img {
        width: 250px;
        height: 250px;
        border-radius: 15px;
    }
    p {
        margin: 0px;
        font-family: "Lora", sans-serif;
    }
}
.card-1:hover {
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
    transform: translateY(-8px);
    transition: box-shadow 0.5s, transform 0.5s;
}
/* page 1 ends */
#prince-layout {
    margin: 0px auto;
    width: 90%;
    max-width: 900px;
}
#prince-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.adoption-card {
    max-width: 500px;
    background-color: #CE7DA5;
    border-radius: 15px;
    margin: 50px;
    h2 {
        margin: 0px;
        font-size: 25px;
        font-family: "Chivo", sans-serif;
    }
    h4 {
        font-family: "Lora", serif;
        margin: 0px;
    }
    img {
        border-radius: 15px 15px 0px 0px;
        height: 400px;
        object-position: top center;
    }
}
#content {
    padding: 24px;
    font-family: "Lora", serif;
    text-align: justify;
}
.adoption-card #breed {
    margin-top: 5px;
}
.adoption-card:hover {
    box-shadow: 2px 2px 10px #aeaeae;
    transform: translateY(-8px);
    transition: box-shadow 0.5s, transform 0.5s;
}
#footer {
    background-color: #55af8e;
    padding: 20px;
    span {
        font-family: "Berkshire Swash", serif;
    }
}
#footer-navbar {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-links {
    font-family: "Lora";
    display: flex;
    gap: 15px;
}
@media screen and (max-width: 750px) {
    #nav-container {
        flex-direction: column;
    }
    #nav-container #logo {
        font-size: 30px;
        margin: 10px;
    }
    #signup-links {
        flex-direction: column;
        text-align: center;
        gap: 0px;
    }
    #footer-navbar {
        flex-direction: column;
        align-items: center;
    }
    #footer-links {
        flex-direction: column;
        align-items: center;
        margin: 15px;
    }
}